.App {
  text-align: center;
  width: 100%;
  height: 1000px;
  background-color: black;
}

.displayAll {
  position: relative;
  top: 80px;
  left: 100px;
  width: 80%;
}

.myCollection {
  display: flex;
  top: 100px;
  width: 95%;
  height: 350px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-track-color: aqua;
  scrollbar-base-color: aquamarine;
  scrollbar-arrow-color: aliceblue;
}

.recommentCollection {
  display: flex;
  top: 100px;
  margin: 0 auto;
  width: 80%;
  height: 350px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-track-color: aqua;
  scrollbar-base-color: aquamarine;
  scrollbar-arrow-color: aliceblue;
}

.node {
  width: 180px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  text-align: left;
  width: 800px;
}

p, h3 {
  color: white;
}

button {
  display: none;
  margin: 0 auto;
  border: 0px;
  width: 180px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 2%;
}

.node:hover button {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gainsboro; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aqua; 
}